{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="{% url 'index' %}"></i> Home</a>
                    <a href="{% url 'kids_page' %}"></i> Kid's</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="shop__sidebar">
                    <div class="search d-flex justify-content-between">
                        <form action="{% url 'search_pro' %}" method="post" class="search-form">
                            {% csrf_token %}
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search" name="query">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-outline-primary">
                                        <i class="fas fa-search text-dark"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <br>
                    <!-- <div class="sidebar__categories">
                        <div class="section-title">
                            <h4>Categories</h4>
                        </div>
                        <div class="categories__accordion">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    {% for product in products_color %}

                                    <div class="card-heading active">
                                        <a data-toggle="collapse" data-target="#collapseOne">{{ product.product.category.name }}</a>
                                    </div>
                                    <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <ul>
                                                <li><a href="#">{{product.type}}</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    </div> -->
                    
                    <div class="sidebar__sizes">
                        <div class="section-title">
                            <h4>Shop by size</h4>
                        </div>
                        <div class="size__list">
                          
                            <label for="s">
                                s
                                <input type="checkbox" id="s">
                                <span class="checkmark"></span>
                            </label>
                            <label for="m">
                                m
                                <input type="checkbox" id="m">
                                <span class="checkmark"></span>
                            </label>
                            
                            <label for="l">
                                l
                                <input type="checkbox" id="l">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <div class="sidebar__filter">
                        <div class="section-title">
                            <h4>Shop by price</h4>
                        </div>
                        <div class="filter-range-wrap">
                            <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                                data-min="33" data-max="99"></div>
                            <div class="range-slider">
                                <div class="price-input">
                                    <p>Price:</p>
                                    <input type="text" id="minamount">
                                    <input type="text" id="maxamount">
                                </div>
                            </div>
                        </div>
                        <a href="#">Filter</a>
                    </div>
                    <div class="sidebar__color">
                        <div class="section-title">
                            <h4>Shop by Color</h4>
                        </div>
                        <div class="size__list color__list">
                            <label for="black">
                                Blacks
                                <input type="checkbox" id="black">
                                <span class="checkmark"></span>
                            </label>
                            <label for="whites">
                                Whites
                                <input type="checkbox" id="whites">
                                <span class="checkmark"></span>
                            </label>
                            <label for="reds">
                                Reds
                                <input type="checkbox" id="reds">
                                <span class="checkmark"></span>
                            </label>
                            <label for="greys">
                                Greys
                                <input type="checkbox" id="greys">
                                <span class="checkmark"></span>
                            </label>
                            <label for="blues">
                                Blues
                                <input type="checkbox" id="blues">
                                <span class="checkmark"></span>
                            </label>
                            <label for="beige">
                                Beige Tones
                                <input type="checkbox" id="beige">
                                <span class="checkmark"></span>
                            </label>
                            <label for="greens">
                                Greens
                                <input type="checkbox" id="greens">
                                <span class="checkmark"></span>
                            </label>
                            <label for="yellows">
                                Yellows
                                <input type="checkbox" id="yellows">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-9">
                <div class="row">
                    {% for color in products_color %}
                    <div class="col-lg-4 col-md-6">
                        <div class="product__item">

                            <div class="product__item__pic set-bg" data-setbg="{{ color.image1.url }}">

                                {% if color.is_listed and color.product.category.is_listed %}
                                <div class="label new">New</div>
                                {% else %}
                                <div class="label new" style="background-color: red;">Out Of Stock</div>
                                {% endif %}


                                <ul class="product__hover">
                                    <li><a href="{{ color.image1.url }}" class="image-popup"  style="border-radius: 5px;"><span
                                                class="arrow_expand"></span></a></li>
                                    <li><a href=""><span class="icon_heart_alt"></span></a></li>
                                    <li><a href=""><span class="icon_bag_alt"></span></a></li>
                                </ul>
                            </div>
                            </a>
                            <div class="product__item__text">
                                <h6><a href="{% url 'product_detail' color.id %}">{{ color.product.name }}</a></h6>
                                <!-- Product rating -->
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <!-- Product price -->
                                <div class="product__price">₹ {{color.product.offer_price}}
                                    <a href="" class="text-muted text-decoration-line-through" style="text-decoration: line-through;" >{{color.product.price}}</a>
                                  </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div><br>
                <div class="d-flex justify-content-center">
                    {% if is_paginated %}
                    <nav aria-label="pagination">
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" tabindex="-1" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                            </li>
                            {% endif %}
                            {% for i in paginator.page_range %}
                            {% if i == page_obj.number %}
                            <li class="page-item active" aria-current="page">
                                <a class="page-link" href="?page={{i}}" class="visually-hidden">{{i}}</a>
                            </li>
                            {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                            {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" tabindex="-1" href="?page={{ page_obj.next_page_number }}">Next</a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Shop Section End -->

{% endblock content %}