{% extends "base.html" %}
{% load static %}
{% block content %}

<style>
    /* Example CSS for category checkboxes */
    .sidebar__categories input[type="checkbox"] {
        display: none;
        /* Hide the default checkbox */
    }

    .sidebar__categories input[type="checkbox"]+label {
        position: relative;
        padding-left: 25px;
        cursor: pointer;
        display: inline-block;
        margin-bottom: 12px;
    }

    .sidebar__categories input[type="checkbox"]+label:before {
        content: "";
        position: absolute;
        left: 0;
        top: 3px;
        width: 10px;
        height: 10px;
        border: 1px solid #000000;
        background-color: #fff;
    }

    .sidebar__categories input[type="checkbox"]:checked+label:before {
        background-color: #fcfcfc;
        /* Change background color when checked */
    }

    .sidebar__categories input[type="checkbox"]+label:after {
        content: "";
        position: absolute;
        display: none;
    }

    .sidebar__categories input[type="checkbox"]:checked+label:after {
        display: block;
    }

    .sidebar__categories input[type="checkbox"]+label:after {
        left: 6px;
        top: -4px;
        width: 5px;
        height: 15px;
        border: solid #ff0000;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }

    .filter-range-wrap .range-slider .price-input input {
        font-size: 16px;
        color: #0d0d0d;
        max-width: 42%;
        border: none;
    }
</style>
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="{% url 'index' %}"></i> Home</a>
                    <a href="{% url 'shop_page' %}"></i>Shop</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="shop__sidebar">

                    <br>
                    <div class="sidebar__sort">
                        <form action="{% url 'search_pro' %}" method="post" class="search-form">
                            {% csrf_token %}
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search" name="query">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-outline-primary">
                                        <i class="fas fa-search text-dark"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                        <br><br>
                        <div class="section-title d-flex justify-content-between">
                            <h4>Sort By</h4>
                            <a href="{% url 'shop_page' %}" class="btn btn-danger ">Clear all</a>
                        </div>
                        <select name="ordering" onchange="location.href=finalurl();" id="sort-by" class="form-control">
                            <option value="" id="placeholder" disabled selected hidden>Sort</option>
                            <option id="name" value="name">A-Z</option>
                            <option id="-name" value="-name">Z-A</option>
                            <option id="price" value="price">Price: Low to High</option>
                            <option id="-price" value="-price">Price: High to Low</option>
                            <option id="created_at" value="created_at">New arrivals</option>
                        </select>
                    </div>
                    <br><br>
                    <form action="{% url 'filtered_products_cat' %}" method="get">
                        <div class="sidebar__categories">
                            <div class="section-title">
                                <h4>Categories</h4>
                            </div>
                            <div>
                                {% for category in categories %}
                                <div class="card-heading">
                                    <input class="filter-checkbox category-checkbox" type="checkbox"
                                    id="category-{{ category.id }}" name="category" value="{{ category.id }}" 
                                    {% if category.id in selected_category %} checked {% endif %}>
                                    <label for="category-{{ category.id }}">
                                        {{ category.name }}
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="sidebar__categories">
                            <div class="section-title">
                                <h4>Brands</h4>
                            </div>
                            <div>
                                {% for brand in brands %}
                                <div class="card-heading">
                                    <input class="filter-checkbox brand-checkbox" type="checkbox" id="brand-{{ brand.id }}" name="brand" value="{{ brand.id }}"
                                        {% if brand.id in selected_brand %} checked {% endif %}>
                                        <label for="brand-{{ brand.id }}">
                                            {{ brand.name }}
                                            <span class="checkmark"></span>
                                        </label>
                                </div>
                                {% endfor %}
                            </div><br>
                            <div class="sidebar__color">
                                <div class="section-title">
                                    <h4>Shop by Color</h4>
                                </div>
                                <div>
                                    {% for color in colors %}
                                    <div class="card-heading">
                                        <input class="filter-checkbox color-checkbox" type="checkbox" id="color-{{ color.color }}" name="color" value="{{ color.color }}"
                                            {% if color.color in selected_color %} checked {% endif %}>
                                        <label for="color-{{ color.color }}">
                                            {{ color.color }}
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <button class="btn btn-outline-danger apply-filters">Apply Filters</button>

                        </div>

                    </form><br>


                    <div class="sidebar__filter">
                        <div class="section-title">
                            <h4>Shop by price</h4>
                        </div>
                        <div class="filter-range-wrap">
                            <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                                data-min="500" data-max="50000"></div>
                            <div class="range-slider">
                                <div class="price-input">
                                    <input type="text" id="minamount">
                                    <input type="text" id="maxamount">
                                </div>
                            </div><br>
                            <button class="btn btn-outline-danger" id="filter">Filter</button>
                        </div>
                        <br>
                    </div>

                    
                </div>
            </div>
            <div class="col-lg-9 col-md-9">
                <div class="row">
                    {% for color in products_color %}

                    <div class="col-lg-4 col-md-6">
                        <div class="product__item">

                            <div class="product__item__pic set-bg" data-setbg="{{color.image1.url}}">

                                {% if color.is_listed and color.product.category.is_listed %}
                                <div class="label new">New</div>
                                {% else %}
                                <div class="label new" style="background-color: red;">Out Of Stock</div>
                                {% endif %}


                                <ul class="product__hover">
                                    <li><a href="{{ color.image1.url }}" class="image-popup"><span
                                                class="arrow_expand"></span></a></li>
                                    <li><a href=""><span class="icon_heart_alt"></span></a></li>
                                    <li><a href="{% url 'add_to_cart' color.id %}"><span
                                                class="icon_bag_alt"></span></a></li>
                                </ul>
                            </div>
                            </a>
                            <div class="product__item__text">
                                <h6><a href="{% url 'product_detail' color.id %}">{{ color.product.name }}</a></h6>
                                <!-- Product rating -->
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <!-- Product price -->
                                {% if color.product.percentage == 0 %}
                                <div class="product__price">₹ {{color.product.offer_price}}

                                </div>
                                {% else %}
                                <div class="product__price">₹ {{color.product.offer_price}}
                                    <a href="" class="text-muted text-decoration-line-through"
                                        style="text-decoration: line-through;">{{color.product.price}}</a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div><br>
                <div class="d-flex justify-content-center">
                    {% if is_paginated %}
                    <nav aria-label="pagination">
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" tabindex="-1"
                                    href="?page={{ page_obj.previous_page_number }}">Previous</a>
                            </li>
                            {% endif %}
                            {% for i in paginator.page_range %}
                            {% if i == page_obj.number %}
                            <li class="page-item active" aria-current="page">
                                <a class="page-link" href="?page={{i}}" class="visually-hidden">{{i}}</a>
                            </li>
                            {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                            {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" tabindex="-1" href="?page={{ page_obj.next_page_number }}">Next</a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                    {% endif %}
                </div>

            </div>

        </div>
    </div>
</section>
<!-- Shop Section End -->

<script>
    function finalurl() {
        var url = new URL(window.location.href);
        var search_params = url.searchParams;
        var selectedOrdering = document.getElementById("sort-by").value;
        search_params.set('ordering', selectedOrdering);
        url.search = search_params.toString();
        document.getElementById('placeholder').innerHTML = "Sort: " + document.getElementById(selectedOrdering).innerHTML;
        return url.toString();
    }
</script>







{% endblock content %}