{% extends 'base.html' %}

{% load static %}

{% block content %}

<style>
    .path a {
        margin-bottom: 5px;
        color: #000;
        text-decoration: none;
    }

    .path a:hover {
        color: red;
        transition-duration: 0.6s;
    }

    .path {
        font-family: Montserrat, sans-serif;
        font-size: 19px;
        text-align: left;
        margin-right: auto;
        margin-top: 10px;
        height: 500px;
    }

    .checkout__form__input input[type="date"] {
        cursor: pointer;
    }

    /* Change cursor for gender radio buttons */
    .gender-inputs input[type="radio"] {
        cursor: pointer;
    }

    .align-right-btn {
        float: right;
    }
</style>


<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="{% url 'index' %}"><i class="fa fa-home"></i> Home</a>
                    <a href="{% url 'view_order' %}"><i></i>My Orders</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->





<!-- Personal info Section Begin -->
<section class="checkout spad">
    <div class="container">
        <form action="#" class="checkout__form">
            <div class="row d-flex justify-content-end">
                <div class="path">
                    <div class="l">
                        <a href="{% url 'profile' %}">personal Information</a>

                    </div>
                    <p class="text-secondary text-muted">_________________________________________</p>
                    <div>
                        <a href="{% url 'view_order' %}" style="color: red;">My Orders</a>
                    </div>
                    <p class="text-secondary text-muted">_________________________________________</p>
                    <div>
                        <a href="{% url 'address' %}">Address</a>
                    </div>
                    <p class="text-secondary text-muted">_________________________________________</p>
                    <div>
                        <a href="#">Wallet</a>
                    </div>
                    <p class="text-secondary text-muted">_________________________________________</p>

                </div>
                <div class="col-lg-8">
                    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

                    <script>
                        {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == 'error' %}
                        swal("Error!", "{{ message }}", "error"); // Display error message with a warning icon
                        {% elif message.tags == 'success' %}
                        swal("Success!", "{{ message }}", "success"); // Display success message with a success icon
                        {% else %}
                        swal("Message", "{{ message }}"); // Display general message
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                    </script>
                    <br>
                    <h5 class="d-flex justify-content-center">MY ORDERS</h5>
                    <div class="row">
                        <div class="col-lg-12 order_table">
                            <!-- Table containing order details -->
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Product Name</th>
                                        <th>Price</th>
                                        <th>Size</th>
                                        <th>Total</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in items %}
                                    <tr>
                                        <td><img src="{{ i.product.image1.url }}" alt=""
                                                style="width: 50px;height: 70px;border-radius: 7px;"></td>
                                        <td>{{ i.product.product.name }}</td>
                                        <td style="color: red;display: flex;width: 90px;">₹
                                            {{i.product.product.offer_price }}</td>
                                        <td>{{ i.size }}</td>
                                        <td style="color: red;display: flex;width: 90px;">₹{{ i.order.total }}</td>
                                        <td>
                                            <a href="{% url 'view_status' i.pk %}">
                                                <div class="btn btn-outline-primary">Status</div>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}

                                    
                                </tbody>
                            </table>
                        </div>
                        <br><br>
                    </div>

                </div>
            </div>
        </form>
    </div>
</section>
<!-- Personal info Section End -->


{% endblock content %}