{% extends 'base.html' %}

{% load static %}

{% block content %}

    <style>
   .order-overview {
        border: 1px solid #ccc;
        border-radius: 20px;
        padding: 27px;
        transition: all 0.3s ease;
    }

   .order-overview:hover {
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        transform: scale(1.05);

    }

   .order-details {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

   .order-details.order-id {
        font-weight: bold;
    }

   .order-details.product-name {
        font-weight: bold;
    }

   .order-details.total-price {
        font-weight: bold;
    }
    .path a {
        margin-bottom: 5px;
        color: #000;
        text-decoration: none;
    }

    .path a:hover {
        color: red;
        transition-duration: 0.6s;
    }

    .path {
        font-family: Montserrat, sans-serif;
        font-size: 19px;
        text-align: left;
        margin-right: auto;
        margin-top: 10px;
        height: 500px;
    }

    .checkout__form__input input[type="date"] {
        cursor: pointer;
    }

    /* Change cursor for gender radio buttons */
    .gender-inputs input[type="radio"] {
        cursor: pointer;
    }

    .align-right-btn {
        float: right;
    }
    .product-details {
    padding-top: 20px;
}
</style>


<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="{% url 'index' %}"><i class="fa fa-home"></i> Home</a>
                    <a href="{% url 'view_all_order' %}"><i></i>Orders</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->





<!-- Personal info Section Begin -->
<section class="checkout spad">
    <div class="container">
        <form action="#" class="checkout__form">
            <div class="row d-flex justify-content-end">
                <div class="path">
                    <div class="l">
                        <a href="{% url 'profile' %}">personal Information</a>

                    </div>
                    <p class="text-secondary text-muted">_________________________________________</p>
                    <div>
                        <a href="{% url 'view_all_order' %}" style="color: red;">My Orders</a>
                    </div>
                    <p class="text-secondary text-muted">_________________________________________</p>
                    <div>
                        <a href="{% url 'address' %}">Address</a>
                    </div>
                    <p class="text-secondary text-muted">_________________________________________</p>
                    <div>
                        <a href="{% url 'wallet_view' %}">Wallet</a>
                    </div>
                    <p class="text-secondary text-muted">_________________________________________</p>

                </div>
                <div class="col-lg-8">
                    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

                    <script>
                        {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == 'error' %}
                        swal("Error!", "{{ message }}", "error"); // Display error message with a warning icon
                        {% elif message.tags == 'success' %}
                        swal("Success!", "{{ message }}", "success"); // Display success message with a success icon
                        {% else %}
                        swal("Message", "{{ message }}"); // Display general message
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                    </script>
                    <br>
                    <h5 class="d-flex justify-content-center">MY ORDERS</h5>
                            <!-- Table containing order details -->
                            {% if orders %}
                            <div class="row">
                                <div class="col-lg-12 order-overview">
                                    {% for order in orders %}
                                        {% if forloop.first %}
                                            <div class="order-details d-inline-block">
                                               <div class="d-flex justify-content-between ">
                                                <span class="order-id">Order ID: {{ order.order.tracking_id }}</span><a href="{% url 'view_order' order.order.id %}" class="btn btn-outline-secondary ">View details</a>
                                               </div>
                                                <br><hr>
                                        {% endif %}
                                        <div class="product-details">
                                            <span class="product-name">Product Name: {{ order.product.product.name }} ({{order.product.color}}) size:({{order.size}})</span><br>
                                            <span class="total-price">Total Price: ₹{{ order.product.product.offer_price }} Quantity: {{ order.qty }}</span><br>
                                        </div>
                                        {% if forloop.last %}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% else %}
                            <div class="d-flex justify-content-center ">
                                <h5><b>YOU HAVEN'T ORDERED ANYTHING YET.</b></h5>
                            </div>
                        {% endif %}
                        </div>
                        
                        <br><br>
                    </div>

                </div>
            </div>
        </form>
    </div>
</section>
<!-- Personal info Section End -->


{% endblock content %}