{% extends "header.html" %}

{% load static %}

{% block content %}

{% block title %}
<title>Order</title>
{% endblock title %}

<head>
    <script src="https://kit.fontawesome.com/83f31ed500.js" crossorigin="anonymous"></script>
</head>
{% block style %}
<style>
    .text-nowrap {
        white-space: nowrap !important;
        padding-top: 24px;
    }

    .custom-select {
        /* Style the select element here */
        border: 1px solid #ccc;
        padding: 5px;
        border-radius: 4px;
    }

    .custom-option {
        /* Style the option elements here */
        padding: 5px 10px;
    }

    input {
        width: 100px;
    }

    #images {
        width: 50px;
        border-radius: 7px;
    }
</style>
{% endblock style %}

<div class="container-fluid">
    <!-- Row 1 -->
    <div class="row ">
        <div class="col-lg-12 ">
            <div class=" mb-3 mt-3">

                <div class="d-flex justify-content-center">
                    <h3>Manage Order</h3>

                </div>

            </div>
        </div>
        <br>
        <div class="input-group mb-3 mt-3">
            <input type="text" class="form-control" name='search_product' placeholder="Search Order"
                aria-label="Search users" aria-describedby="search-button">
            <button class="btn btn-primary" type="submit" id="search-button">Search</button>
        </div>
        <br>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

        <script>
            {% if messages %}
            {% for message in messages %}
            {% if message.tags == 'error' %}
            swal("Error!", "{{ message }}", "error"); // Display error message with a warning icon
            {% elif message.tags == 'success' %}
            swal("Success!", "{{ message }}", "success"); // Display success message with a success icon
            {% else %}
            swal("Message", "{{ message }}"); // Display general message
            {% endif %}
            {% endfor %}
            {% endif %}
        </script>
        <br />
        <!-- User details table -->
        <table class="table table-striped ">
            <thead>
                <tr>
                    <th scope="col" style="display: flex; justify-content: center;">Order ID</th>
                    <th scope="col">User</th>
                    <th scope="col">Price</th>
                    <th scope="col">Status</th>
                    <th scope="col" style="display: flex; justify-content: center;">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for order in order_details %}
                <tr>
                    <td>{{ order.order.tracking_id }}
                        <br>
                    </td>
                    <td>{{ order.order.customer.user.username }}</td>
                    <td>₹{{order.order.total}}</td>
                    
                    <td>{{ order.status }}</td>
                    <td>
                        <div class="d-flex justify-content-center">
                            <form action="{% url 'admin_order' order.order.id %}">
                            <button class="btn btn-outline-danger" type="submit"><i class="fa-solid fa-file-lines"></i> View Details</button>
                        </form>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>

    </div>
    <div class="d-flex justify-content-center ">
        <nav aria-label="Page navigation example ">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
    </div>
</div>
</div>
</div>

</div>






{% endblock content %}
