{% extends "header.html" %}

{% load static %}

{% block content %}

{% block title %}
<title>View Order</title>
{% endblock title %}

<head>
    <link rel="stylesheet" href="{% static 'css/order.css' %}">
    <script src="https://kit.fontawesome.com/83f31ed500.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</head>

{% block style %}
<style>

</style>
{% endblock style %}

<div class="container">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>
        {% if messages %}
        {% for message in messages %}
        {% if message.tags == 'error' %}
        swal("Error!", "{{ message }}", "error"); // Display error message with a warning icon
        {% elif message.tags == 'success' %}
        swal("Success!", "{{ message }}", "success"); // Display success message with a success icon
        {% else %}
        swal("Message", "{{ message }}"); // Display general message
        {% endif %}
        {% endfor %}
        {% endif %}
    </script>
    <br />
    <div class="container">
        <div class="row">
            <div class="order-card">
                <div class="order-header">
                    <h3>View Order</h3>
                    <!-- Add any buttons or links for actions here if needed -->
                </div>
                <hr>
                <div class="order-details">
                    <div class="order-info">
                        <label for="">Order ID:</label>
                        <p>{{ order.tracking_id }}</p>
                    </div>
                    <div class="order-info">
                        <label for="">Customer Name:</label>
                        <p>{{ order.customer.user.username }}</p>
                    </div>
                    <div class="order-info d-inline-block ">
                        <label for="">Address:</label>
                        <p>{{ order.address.first_name }} {{ order.address.last_name}},
                            {{order.address.house_name}},<br>
                            {{order.address.city}}, {{order.address.state}},<br>
                            {{order.address.postal_code}}, {{order.address.country}}</p>
                    </div>
                    <div class="order-info">
                        <label for="">Payment Method:</label>
                        <p>{{ order.payment_method }}</p>
                    </div>
                    <div class="order-info">
                        <label for="">Status:</label>
                        {% if order.status == 'Delivered' %}
                        <p style="color: green;">{{order.status}}</p>
                        {% elif order.status == 'Returned' %}
                        <p style="color: rgb(248, 12, 4);">{{order.status}}</p>
                        {% elif order.status == 'Refunded' %}
                        <p style="color: rgb(255, 145, 1);">{{order.status}}</p>
                        {% elif order.status == 'Cancelled' %}
                        <p style="color: rgb(255, 0, 0);">{{order.status}}</p>
                        {% elif order.status == 'Out for Delivery' %}
                        <p style="color: rgb(0, 195, 255);">{{order.status}}</p>
                        {% elif order.status == 'Shipped' %}
                        <p style="color: rgb(166, 255, 0);">{{order.status}}</p>
                        {% elif order.status == 'Pending' %}
                        <p style="color: rgb(255, 145, 0);">{{order.status}}</p>
                        {% elif order.status == 'Order Placed' %}
                        <p style="color: rgb(255, 145, 0);">{{order.status}}</p>
                        {% endif %}
                    </div>
                    <div class="order-info">
                        <label for="">Total:</label>
                        <p>₹ {{ order.total }}</p>
                    </div>
                </div>
            </div>
            <hr>

            <div class="order-items">
                <div class="d-flex justify-content-center ">
                    <h3>Ordered Items</h3>
                </div>
                <hr><br>
                <!-- <div class="container-fluid ">

                    {% for order_item in order.orderitem_set.all %}
                        <div class="order-item">
                        <p><b>Product Name: {{ order_item.product.product.product.name }}</b></p>
                        <p><strong>Size:</strong> {{ order_item.product.product_size }}</p>
                        <p><strong>Quantity:</strong> {{ order_item.product.quantity }}</p>
                        <p><strong>Price:</strong>₹ {{ order_item.product.product.product.offer_price }}</p>
    
                         Add more item details here as needed 
            </div> 
            {% endfor %} -->
                <div class=" cards ">
                    {% for i in item %}

                    <div class="card d-flex justify-content-between ">

                        <img src="{{i.product.image1.url}}" class="card-img" alt="">
                        <div class="card-body">
                            <p class="card-sub-title"><b>Product Name: {{ i.product.product.name }}</b>
                            </p>
                            <p class="card-sub-title"><strong>Size:</strong> {{ i.size }}</p>
                            <p class="card-sub-title"><strong>Quantity:</strong> {{ i.qty }}</p>
                            <p class="card-sub-title"><strong>Price:</strong> ₹ {{i.product.product.offer_price }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
</div>

</div>


{% endblock content %}